# frozen_string_literal: true

# probably no longer required
# lib = File.expand_path("lib", __dir__)
# $LOAD_PATH.unshift(lib) unless $LOAD_PATH.include?(lib)

require_relative "lib/<%= gem_name.slash %>/version"

Gem::Specification.new do |spec|
  spec.name = "<%= gem_name %>"
  spec.version = <%= gem_name.colonize.camelize %>::VERSION
  spec.authors = ["<%= user_fullname %>"]
  spec.email = ["<%= user_email %>"]

  spec.summary = "TODO: Description"
  spec.description = <<~DESC
    TODO: Longer description
  DESC
  spec.homepage = "<%= git_site %>/<%= gem_name %>"
  spec.license = "AGPL-3.0-or-later"
  spec.required_ruby_version = ">= 3.3"

  spec.metadata["allowed_push_host"] = "TODO: Set to your gem server or delete line"

  spec.metadata = {
    "changelog_uri" => "#{spec.homepage}/src/branch/main/CHANGELOG.md",
    "homepage_uri" => spec.homepage,
    "rubygems_mfa_required" => "true",
    "source_code_uri" => spec.homepage
  }

  spec.files = Dir.glob("{bin,lib,template}/**/*") + %w[LICENSE.txt README.md CHANGELOG.md]
  spec.bindir = "bin"
  spec.executables = "<%= gem_name %>"
  spec.require_paths = ["lib"]

  unless ENV.fetch("UNSIGNED_BUILD", "false") == "true"
    spec.cert_chain = ["certs/<%= user_name %>.pem"]
    spec.signing_key = File.expand_path("~/.ssh/gem-private_key.pem")
  end

  # spec.add_dependency "example-gem", "~> 1.0"
end
