# frozen_string_literal: true

require "digest/sha2"
require "minitest/test_task"
require "standard/rake"

require_relative "lib/<%= gem_name.slash %>/version"

Minitest::TestTask.create

namespace :build do
  def check
    built_gem_path = "pkg/<%= gem_name %>-#{<%= gem_name.colonize.camelize %>::VERSION}.gem"
    checksum = Digest::SHA512.new.hexdigest(File.read(built_gem_path))
    checksum_path = "./checksums/<%= gem_name %>-#{<%= gem_name.colonize.camelize %>::VERSION}.gem.sha512"
    FileUtils.rm(Dir.glob("./checksums/*"))
    File.write(checksum_path, checksum)
  end

  def signed_build
    ENV["UNSIGNED_BUILD"] = "false"
    sh "bundle exec gem build <%= gem_name %>.gemspec --output=./pkg/<%= gem_name %>-#{<%= gem_name.colonize %>::VERSION}.gem"
  end

  desc "Unsigned build & local install, update the repo's checksum"
  task :local do
    ENV["UNSIGNED_BUILD"] = "true"
    sh "bundle exec gem build <%= gem_name %>.gemspec --output=./pkg/<%= gem_name %>-#{<%= gem_name.colonize.camelize %>::VERSION}.gem"
    sh "bundle exec gem install ./pkg/<%= gem_name %>-#{<%= gem_name.colonize.camelize %>::VERSION}.gem -P MediumSecurity"
    check
  end

  desc "Signed build & local install"
  task :local_sy do
    signed_build
    check
    sh "bundle exec gem install ./pkg/<%= gem_name %>-#{<%= gem_name.colonize.camelize %>::VERSION}.gem -P HighSecurity"
  end

  desc "Publish it - this will build & sign, then commit, push and publish"
  task :publish do
    # signed build & checksum update
    signed_build
    check
    # tag git repo
    sh "git add ."
    sh "git commit -m \"v#{<%= gem_name.colonize.camelize %>::VERSION}\""
    sh "git tag -s v#{<%= gem_name.colonize.camelize %>::VERSION} -m \"v#{<%= gem_name.colonize.camelize %>::VERSION}\""
    sh "git push origin \"v#{<%= gem_name.colonize.camelize %>::VERSION}\""
    sh "git push"
    # publish to rubygems, will require OTP
    sh "gem push ./pkg/<%= gem_name %>-#{<%= gem_name.colonize.camelize %>::VERSION}.gem"
  end
end

task default: %i[standard:fix]
