# <%= gem_name.capitalize %>

...

## Status

... in Python terms.

(Those Python statuses are 1 - Planning, 2 - Pre-alpha, 3 - Alpha, 4 - Beta, 5 - Production/Stable, 6 - Mature, 7 - Inactive.)

## Why

...

## Installation

`gem install <%= gem_name %>`

## Usage

...

## Development

After checking out the repo, run `bundle install` to install dependencies. Then, run `rake test` to run the tests.

To install this gem locally, run `bundle exec rake local`.

`bundle exec rake -T` to see the current options.

## Contributing

Bug reports and pull requests are welcome at <%= git_site %>/<%= gem_name %>. This project is intended to be a safe, welcoming space for collaboration, and contributors are expected to adhere to the [code of conduct](<%= git_site %>/<%= gem_name %>/src/branch/main/CODE_OF_CONDUCT.md).

## Code of Conduct

Everyone interacting in the <%= gem_name.capitalize %> project's codebases, issue trackers, chat rooms and mailing lists is expected to follow the [code of conduct](<%= git_site %>/<%= gem_name %>/src/branch/main/CODE_OF_CONDUCT.md).
