module <%= gem_name.colonize.camelize %>
  class CLI
    @options: Hash[String, String]

    def help:(opts: OptionParser) -> void

    def options_other:(opts: OptionParser) -> void

    def start:(Array[untyped] _args) -> void

    def version: -> void
  end
end
