# frozen_string_literal: true

require "optparse"

module <%= gem_name.colonize.camelize %>
  # CLI handled by optparse
  class CLI
    def start(*_args)
      OptionParser.new do |opts|
        opts.banner = <<~BANNER
          <%= gem_name.capitalize %>
          Expanded help here

          Commands:
        BANNER
        help(opts:)
        options_other(opts:)
        version(opts:)
      end.parse!
    rescue OptionParser::InvalidOption
      puts "Invalid option"
      # don't have opts here to show help
    end

    def help(opts:)
      opts.on("-h", "--help", "This help message") do
        puts opts
        exit
      end
    end

    def options_other(opts:)
      opts.on("-o", "--other", "Do... other") do |_o|
        puts "OK"
        exit
      end
    end

    def version(opts:)
      opts.on("-v", "--version", "The version") do
        puts <%= gem_name.colonize.camelize %>::VERSION
        exit
      end
    end
  end
end
