#!/usr/bin/env ruby
# frozen_string_literal: true

$LOAD_PATH.unshift File.join(File.dirname(__FILE__), '..', 'lib')

require 'bundler/setup'
require '<%= gem_name.slash %>/cli'

<%= gem_name.colonize.camelize %>::CLI.new.start
